<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div id="main">
      <div id="efalogo">Eleven Fifty Academy</div>
      <div class="informationalText">
        <p>Welcome to the our system detection application.</p>
        <p>
          This application will retrieve information about the system you run
          this on.
        </p>
        <p>
          You should run this on the computer you will be using to attend our
          Bootcamp with!
        </p>
        <p>
          Your information will be verified with our IT department, and should
          it not meet our minimum requirements you should expect to be contacted
          via your admissions officer for next steps. Don't worry, no computer
          is perfect!
        </p>
      </div>
      <div class="emailInput">
        <p>Please enter your email:</p>
        <input type="text" id="emailEntry" />
      </div>
      <div id="runSystemDetection">
        <button id="systemDetectionButton">Run system detection</button>
      </div>
    </div>
    <div id="specDisplay"></div>
    <script src="../scripts/main.js"></script>
  </body>
</html>
